<div class="row pt-2 pt-sm-0 px-2 px-sm-0">
    <div class="col">  
        <!-- Espere ... -->
        <div [hidden]="!espere" class="card">
            <div class="card-body">
                espere ...
            </div>
        </div>
        <!-- Datos -->
        <div *ngIf="crisis && !espere" class="card">
            <div class="card-header">
                "{{ editName }}"
            </div>
            <div class="card-body">
                <h4 class="card-title">Id: {{ crisis.id }}</h4>
                <p class="card-text"><label>Name:</label><input [(ngModel)]="editName" placeholder="name"/></p>
                <button class="btn btn-primary" (click)="save()">Save</button>
                <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
