<div class="container">
    <h2>CRISIS</h2>
    <div class="row">
        <div class="column list-group col-4">
            <div *ngFor="let crisis of crises$ | async; let i=index" class="item">
                <p [class.active]="crisis.id === selectedId" [routerLink]="['/crisis-center', crisis.id]" 
                    class="list-group-item list-group-item-action">
                        <span class="badge badge-default badge-light">{{ crisis.id }}</span>{{ crisis.name }}
                </p>
            </div>
        </div>
        <div class="column col-8">
            <div class="card">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>       
        </div>
    <div class="row">
        <div class="column py-3">
            <button routerLink="/sidekicks">Go to sidekicks</button>
          </div>
    </div>
</div>
