<!-- Inicio Performances -->
<div class="d-flex flex-row flex-wrap">
  <div *ngFor="let performance of performances$ | async; let i=index;" class="m-0 p-0">
    <button  class="button list-group-item list-group-item-action" (click)="openDialog(performance)">
      <span class="badge badge-default badge-light mr-2">{{i}}</span>
      {{ performance.weight }} lb x {{ performance.reps }}
    </button>
  </div>
  <div>
    <button  class="button list-group-item list-group-item-action" (click)="openDialog(null)">+
    </button>
  </div>
</div>
<!-- Fin Performances -->
