<div class="container-fluid">

  <div class="row px-0 px-sm-2">
    <div class="col">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <p class="navbar-brand text-light m-1">Angular Router</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav col-xs-12 col-sm-12">
                  <li class="nav-item col-xs-8 col-sm-auto">
                      <a routerLink="/crisis-center" routerLinkActive="active" class="nav-link">Crisis Center</a>
                  </li>
                  <li class="nav-item col-xs-8 col-sm-auto">
                      <a routerLink="/heroes" routerLinkActive="active" class="nav-link">Heroes</a>
                  </li>
                  <li class="nav-item col-xs-8 col-sm-auto">
                      <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin</a>
                  </li>   
                  <li class="nav-item col-xs-8 col-sm-auto">
                    <a [routerLink]="[{ outlets: { popup: ['compose'] } }]" class="nav-link">Contact</a>
                  </li> 
                  <li class="nav-item ml-auto col-xs-8">
                    <a routerLink="/login" routerLinkActive="active" class="nav-link">login</a>
                </li>
              </ul>
            </div>
        </nav>
      </div>

      <div class="col col-12">        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <ul class="navbar-nav col-12 col-sm-12">
                  <li class="nav-item ml-auto">
                    <form class="form-inline">
                      <input [formControl]="searchString" class="form-control col-8 col-sm-auto mr-2" type="text" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success col-3 col-sm-auto" type="submit">Search</button>
                    </form>
                  </li>
              </ul>
        </nav>
      </div>
  </div>

  <router-outlet></router-outlet>
  <router-outlet name="popup"></router-outlet>

</div>


