
<div class="row px-0 px-sm-2">
    <div class="col col-12" align="center">
        <h2>Workout</h2>
    </div>
  </div>
  <div class="row px-0 px-sm-2">
    <div class="col col-12">
      <div class="list-group col-12 col-sm-6">
        <!-- Workouts -->
        <a *ngFor="let workout of workouts$ | async"
          [routerLink]="['/workout', workout.seq]" 
          class="list-group-item list-group-item-action">
          {{ workout.date | date }}
            <app-exercise [workoutId]="workout.id"></app-exercise>
        </a>
        <!-- Fin Workouts -->  
      </div>
    </div>
  </div>
  
