
<div class="row px-0 px-sm-2">
    <div class="col col-12" align="center">
        <h2>Workout</h2>
    </div>
  </div>
  <div class="row px-0 px-sm-2">
    <div class="col col-12">
      <ul class="list-group col-12 col-sm-6">
        <!-- Workouts -->
        <li *ngFor="let workout of workouts$ | async" class="list-group-item">
          <a [routerLink]="['/workout', workout.id]" >{{ workout.date | date }}</a>
            <app-exercise [workoutId]="workout.id"></app-exercise>
        </li>
        <!-- Fin Workouts -->  
    </ul>
    </div>
  </div>
  
