
<div class="row">
  <div class="col" align="center">
      <h2>Heroes</h2>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="list-group col-xs-10 col-sm-4">
      <a *ngFor="let hero of heroes$ | async"
          [routerLink]="['/hero', hero.id]" 
          class="list-group-item list-group-item-action"
          [class.active]="hero.id === selectedId">
        <span class="badge badge-default badge-light">{{ hero.id }}</span> {{ hero.name }}
      </a>
    </div>
  </div>
</div>

<div class="row py-2">
  <div class="col">
    <button routerLink="/sidekicks">Go to sidekicks</button>
  </div>
</div>